.white {
  background: white;
  color: black;
}

.white h1,
.white h2,
.white h3 {
  color: #e51e25;
}

.blue {
  color: #333333;
  background: radial-gradient(white 40%, transparent 100%);
}

.blue h1,
.blue h2,
.blue h3 {
  color: #40ab3d;
}

.red {
  color: white;
  background: #e51e25;
}

.blue h2,
.blue h3 {
  color: #e51e25;
}
